<div id="<%- model.id %>">
	<span>Name:
		<input class="changeName" value="<%- model.name %>" type="text"</h2>
	</span>
	<select class="selSynth">
		<option>Select Synth</option>
		<% _.each(model.synths, function(synth) { %>  <option class="<%= synth.id %>"><%= synth.name %></option> <% }); %>
	</select>
	<select class="selDrumkit">
		<option>Select Seqs</option>
		<% _.each(app.collections.drumkits, function(synth) { %>  <option class="<%= synth.id %>"><%= synth.name %></option> <% }); %>
	</select>

	<div class="drumSection"></div>

	<div class="synthSection"></div>

</div>
