<% model.selDrumkit.drums.unshift("head") %>

<% _.each(model.selDrumkit.drums, function(val, i) { %>
	<div style="display:block;">
		<h4><%= val.name %></h4>
		<% _.each(model.drumGenerator.basicBeat.data[0], function(valB, j) { %>
			<% if(i==0) { %>
				 <% var cc; if(j%4==0){cc="checkHeader highlight" } else {cc="checkHeader"} %>
				<div class="<%= cc %>"><%= j/4 %></div>
			<% } else { %>
				<div class="beatTrigger velOff" id="xp<%=j%>yp<%=i-1%>">0</div>
			<% } %>
		<% }) %>
	</div>
<% }) %>

<% model.selDrumkit.drums.shift() %>
