#navView {
  background: #ff8;
}
#listView {
  background: #f88;
  display: inline-block;
  float: left;
  width: 30%;
  div {
    background: #f88;
    border-bottom: 1px solid black;
    padding: 6px;

  }
}
#navView {
  background: #8f8;
  svg {
    width:100%;
    height:100%
    background: blue;
  }
  div {
    display: inline-block;
    padding: 6px 6px 0 6px;
    background: black;
    color: white;
  }
}

#detailView {
  width: 70%;
  background: #aaa;
  height: 100%;
  float: left;
}